@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1440px;

// Colores
$negro: #000000;
$blanco: #FFFFFF;

$blueDark: hsl(238, 29%, 16%);
$red: hsl(14, 88%, 65%);

$violet: hsl(273, 75%, 66%);
$blue: hsl(240, 73%, 65%);

$grisOscuro: hsl(237, 12%, 33%);
$gris: hsl(240, 6%, 50%);
$grisClaro: hsl(240, 5%, 91%);

$separacion: 5rem;

// Fuentes

$regular : 400;
$bold: 700;